#coltwo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #0a0a0a9d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0green, 0blue, 0.1alpha);
    color: #c2bebe;
     flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 24px;

}
#colone{
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0green, 0blue, 0.1alpha);
    margin: 20px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    background-color: #0a0a0a9d;
}
.carousel-control-prev{
    color:#010e47;
    background-color:rgba(42, 5, 146, 0.7);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translate(-50%);
    border-radius: 8px;
}
.carousel-control-next{
    color: #010e47;
    background-color: rgba(42, 5, 146, 0.7);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translate(-50%);
    border-radius: 8px;
}

.col-lg-6{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: whitesmoke;
    
}

.col-md-4{
    font-size: 18px;
    padding:px ;
    margin: px;
    border-radius: 8px;
    background-color: rgb(51, 5, 5);
    box-shadow: 0 4px 8px rgba(0, 0green, 0blue, 0.1alpha);;
    border: 20px solid rgb(73, 70, 70);

}
#lg-5{
    background-color: rgb(128, 2, 2);
    border-radius: 8px;
    padding:15px;
    margin: a5pxpx;
}
#lg-6{
    background-color: rgb(7, 7, 7);
}
#button{
    border-radius: 8px;
    padding: 2px;
    padding-right: 2px;
    padding-left:2px;
    color: rgb(8, 8, 8);
    background-color: lime;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}
.two{
     border-radius: 8px;
    padding: 2px;
    padding-right: 2px;
    padding-left:2px;
    color: rgb(8, 8, 8);
    background-color: lime;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
   
}
#sectionfour{
    background-color: rgb(4, 88, 32);
}
.bold{
    text-decoration: underline;
    color: rgb(211, 33, 10);
    
    
}
#fifth{
    flex-direction: column;
    text-align: start;
    font-size: 24px;
    background-color: rgb(20, 4, 109);

}
body{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#dflex{
    text-align: start;
    align-self: flex-start;
}
#footer{
    background-color: rgb(1, 1, 78);
    text-align: start;
    align-self:flex-start ;
}
#header{
    text-decoration: underline;
}
.contacts{
    box-shadow: 8px;
    border-radius: 20px;
    background-color: #01061b;
}
.first{
    background-color: rgb(202, 80, 35);
}
.directives{
    text-decoration: wavy;
    background-color: rgba(100, 30, 165, 0.938);
    font-size: 24px;
    border-radius: 10px;
    
}
.firstcategory{
    background-color: rgb(3, 51, 51);
    border-radius: 10px;
}
.form{
    background-color: rgb(3, 51, 51);
    border-radius: 10px;
    outline: #01061b;

}
button{
    border-radius: 8px;
    box-shadow: 20;
    outline: 2px solid black;
    background-color: black;
    color: whitesmoke;
}
.extra{
    box-shadow: 20px;
    border-radius: 8px;
    outline: solid rgb(114, 121, 115);
}
.secondsec{
    background-color: #01061b;
    justify-content: center;
}
.bag{
    border-radius: 5px;
    box-shadow: 10;
}
.textarea{
    border-radius: 8px;
    outline: solid rgb(79, 79, 80) 3px;
    box-shadow: 12;


}
.hood{
    border-radius: 10px;
    outline: solid black;
    background-color:rgba(13, 70, 2, 0.74);
    
}
.image{
    border-radius: 8px;
    box-shadow: 10;
}
.par1{
text-decoration: none;
}
.foundsection{
    background-color: rgb(44, 1, 44);
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.foundform{
    background-color: rgb(17, 2, 83);
}
.secondform{
    background-color: #1b0101;
}
.gadgetsection{
    border-radius: 10px;
}
.card-header{
    box-shadow: 50px;
    border-radius: 15px;
}
.card-body{
    border-radius: 20px;
    box-shadow: 20;
    
}
.reporthood{
    background-color: #1b0101;
}